.container{
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Muli', sans-serif;
}

.top {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: .5px solid gray
}

.headers {
  display: inline-block;
  float: right;
  padding-left: 15px;
}
.headers a {
  text-decoration: none;
  color: #2a304f;
}
.headers a:visited {
  color: #2a304f;
}
.headers a:hover {
  color: #6574bc;
}
.roo {
  font-family: Courier;
  font-size: 2.8em;
  margin-top: 10px;
  width: 200px;
  margin-left: 155px;
  margin-bottom: 30px;
}

img {
  width: 130px;
  float: left;
}
.logo {
  float: left;
  list-style-type: none;
}
.error {
  font-size: 1em;
  color: red;
}
.box {
  width: 180px;
  height: 100px;
  background-color: #306ccc;
  margin-left: 10px;
  margin-top: 20px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  color: white;
  border: none;
  border-radius: 3px;
}
button:hover{
  box-shadow: 0 0 1px 1px rgba(0, 209, 209, .6);
}
button:active {
  outline: none;
}
.box p {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
}
